:root {
  --mainGreen: #097810;
  --blackContainer: #071108;
  --backgroundBlack: #15222c;
  --navbarRed: #990000;
  --greenText: #73cc60;
  --redText: #990000;
  --greyContainer: #364652;
  --fontBlack: #15222c;
  --fontWhite: white;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  list-style: none;
  color: var(--fontBlack);
}
.svg-filter {
  filter: invert(6%) sepia(34%) saturate(1712%) hue-rotate(172deg)
    brightness(99%) contrast(86%);
}
/* ETC */
/* maxwidth */
/* cell 360px */
/* tablet 768px min */
/* desktop 1208px automatic*/
img {
  width: 3rem;
  height: 3rem;
}
a {
  text-decoration: none;
  color: var(--fontWhite);
}
a:hover {
  text-decoration: none;
  color: var(--greenText);
}
.usesFlex {
  display: flex;
}
.white-font {
  color: var(--fontWhite);
}
.bordacinza {
  background: var(--greyContainer);
  color: var(--fontWhite);
  padding: 0.6rem;
  margin: 0.7rem 0;
  border-radius: 30px;
  width: 10rem;
  text-align: center;
}
/* navbar */
.xbttn:hover {
  cursor: pointer;
}
.hide {
  display: none;
}
nav {
  background: var(--blackContainer);
  position: sticky;
  top: 0;
  float: left;
  z-index: 1;
  height: 30rem;
  width: 15rem;
  border-radius: 50px;
}
.nav-title p {
  font-size: 1.5rem;
  padding: 1rem;
}
nav li {
  z-index: 2;
}
.nav-socials {
  background: white;
  padding: 1rem;
  border-radius: 30px;
  width: 10rem;
}
/* main banner */
main {
  clear: left;
}
.banner {
  background: var(--backgroundBlack);
  height: 80vh;
}
.banner img {
  width: 80vw;
  height: 80vh;
  float: left;
}
.banner p {
  position: relative;
  left: 4rem;
  top: 2rem;
  color: white;
  font-size: 3rem;
}
section {
  clear: left;
}

/* .enviar {
  padding: 20px;
  color: #ffffff;
  transition: 1s background;
  transition: 0.5s transform;
}
.enviar:hover {
  background-color: #5e8c61;
  transform: scale(1.2); */
