* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}
img {
  width: 20px;
  height: 20px;
}
/* .enviar {
  padding: 20px;
  color: #ffffff;
  transition: 1s background;
  transition: 0.5s transform;
}
.enviar:hover {
  background-color: #5e8c61;
  transform: scale(1.2); */
